<%=javascript_tag do %>

$(document).ready(function(){
  $('#purchase_order_supplier_name').autocomplete({
    source: $('#purchase_order_supplier_name').data('autocomplete-source'),
    minLength: 2
  });
});
<% end %>


<%= form_for(@purchase_order) do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
      <% @purchase_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplier_name %><br>
    <%= f.text_field :supplier_name, data: {autocomplete_source: suppliers_path} %>
  </div>

  <div class="field">
    <%= f.label :contact_person %><br>
    <%= f.text_field :contact_person %><br>
  </div>

  <div class="field">
    <div class="phones">
      <div class="phone_entry">
        <%= label_tag :phone, "Phone 1" %><br>
        <%= text_field_tag :phone, "", name: "phone[1]" %><br>
      </div>
    </div>
  <%= label_tag(:add_phone, "Add Phone", id: "add_phone")%>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
