<!DOCTYPE html>
<html>
<head>
  <title>Eegm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if current_user %>
    Signed in via Google as <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>
    <p>
    <%= link_to 'Get Contacts', gcontacts_path %>

  <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2"%>
  <% end %>
  <p>
  <%= link_to "Purchase Orders", purchase_orders_path%>

</div>

</br>





<%= yield %>

</body>
</html>
